# [APP]
ENV=DEV
APP_NAME=
SECRET_KEY=
DEBUG=True
TIME_ZONE=UTC
DIRECTORY__LOGS=./share/logs
DIRECTORY__LOCAL_STORAGE=./files
DIRECTORY__FILE_STORAGE=./files
FRONTEND_URL=
TOKEN_EXPIRED_AFTER_SECONDS=3600

# [Audit]
AUDIT__USE=False
AUDIT__SAVE_IP_ON_FAIL=False

# [DB]
DB__ENGINE=django.db.backends.sqlite3
DB__NAME=temp_db
DB__USER=temp_db
DB__PASSWORD=temp_db
DB__HOST=
DB__PORT=

# [EMAIL]
EMAIL__USE=False
EMAIL__USER=
EMAIL__SEND_EMAILS=False
EMAIL__CLIENT_ID=
EMAIL__CLIENT_SECRET=

# [S3]
S3__USE=False
S3__ACCESS_ID=
S3__ACCESS_KEY=
S3__SERVICE_NAME=
S3__REGION_NAME=
S3__BUCKET_NAME=

# [REDIS]
REDIS__USE=False
REDIS__HOST=
REDIS__PORT=
REDIS__USERNAME=
REDIS__PASSWORD=

# [SENTRY]
SENTRY__USE=False
SENTRY__DSN=
SENTRY__USE_PII=False
SENTRY__SEND_DEFAULT_PII=False
SENTRY__USE_TRACING=False
SENTRY__TRACES_SAMPLE_RATE=1.0
SENTRY__USE_PROFILING=False
SENTRY__PROFILE_SESSION_SAMPLE_RATE=1.0
SENTRY__PROFILE_LIFECYCLE=

# [IA]
IA__OPENAI_API_KEY=
